body {
  background-color: #ffffff;
  font-family: "Assistant", sans-serif;
  color: #07c;
}

.navbar-brand {
  img {
    max-height: 35px;
  }
}

.header-about {
  h1 {
    color: #071c4d;
  }
}

.navbar-light {
  .navbar-nav {
    .nav-link {
      color: #071c4d;

      &.active {
        font-weight: bold;
        color: #071c4d !important;
      }
    }
  }
}

.btn-navbar-right {
  margin-top: -10px !important;
  height: 62px;
  margin-bottom: -8px !important;
  margin-right: -35px !important;
  border-radius: 0;
}

.btn-login {
  background-color: #fb5f88;
  color: #ffffff;

  &:hover {
    background-color: #fbe66b;
    color: #ffffff;
  }
}

header {
  padding: 180px 0 165px 0;
  margin-top: -60px;

  h1,
  p {
    color: #ffffff;
  }

  h1 {
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: 50px;
  }
}

.card-deck1 {
  color: #fb5f88;
  padding: 50px;
  margin-top: -200px;
  img {
    padding: 15px;
    border-radius: 20px;
  }
}

.card-deck2 {
  color: #fb5f88;
  padding: 100px;
  margin-top: -110px;
  img {
    padding: 15px;
    border-radius: 20px;
  }
}

.btn-order {
  background-color: #fb5f88;
  color: #ffffff;
}

.header-bg {
  padding: 180px 0 180px 20px;
  margin-top: 50px;
  background-image: url("../images/about-background.jpg");
  background-size: contain;
  h1 {
    font-size: 40px;
    color: #0061fcc;
  }

  p {
    color: #000;
  }
}

.card-pop {
  width: 350px;
}
