body {
  background: rgb(251, 95, 136);
  background: linear-gradient(
    184deg,
    rgba(251, 95, 136, 1) 0%,
    rgba(251, 230, 107, 1) 100%
  );
  font-family: "Assistant", sans-serif;
  color: #07c;
}

.main-content {
  width: 50%;
  border-radius: 20px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
  margin: 5em auto;
  display: flex;
}
.company__info {
  background-color: #fff;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}
.fa-android {
  font-size: 3em;
}
@media screen and (max-width: 640px) {
  .main-content {
    width: 90%;
  }
  .company__info {
    display: none;
  }
  .login_form {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
}
@media screen and (min-width: 642px) and (max-width: 800px) {
  .main-content {
    width: 70%;
  }
}

.login_form {
  background-color: #fff;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.form__input {
  width: 100%;
  border: 0px solid transparent;
  border-radius: 0;
  border-bottom: 1px solid #aaa;
  padding: 1em 0.5em 0.5em;
  padding-left: 2em;
  outline: none;
  margin: 1.5em auto;
  transition: all 0.5s ease;
}
.form__input:focus {
  border-bottom-color: #008080;
  box-shadow: 0 0 5px rgba(0, 80, 80, 0.4);
  border-radius: 4px;
}

.text-login {
  h2 {
    margin-top: 10px;
  }
}

.row-submit {
  color: #008080;
}

.btn-submit {
  transition: all 0.5s ease;
  width: 70%;
  border-radius: 30px;
  color: #07c;
  font-weight: 600;
  background-color: #fff;
  border: 1px solid #07c;
  margin-top: 1.5em;
  margin-bottom: 1em;
}
.btn-submit:hover,
.btn:focus {
  background-color: #fb5f88;
  color: #fff;
}

.row2 {
  margin-right: -15px;
  margin-left: -15px;
}

.row3 {
  margin-right: auto;
  margin-left: -210px;
}
